*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
}
.carGame{
    /* display: flex; */
    background-image: url(../images/bg.png);
    height: 100vh;
    width:100vw;
}

.scoreCard{
    /* display: flex; */
    position: relative;
    width:300px;
    height:80px;
    background-color: rgb(51, 102, 0);
    /* border-radius:4px; */
    position: relative;
    top:20px;
    left:20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:white;
    box-shadow:5px 5px black;
    z-index: 12;
    /* margin:auto; */
}
.road{
    position: absolute;
    height: 100vh;
    width: 460px;
    background:rgb(66, 66, 66);
    left:calc(50vw - 230px);
    border-left:5px dashed rgb(255, 238, 0);
    border-right:5px dashed rgb(255, 238, 0);
    overflow: hidden;
}
@keyframes rotor {
    0%{transform:translateY(-100vh)}
    /* 50%{transform:translateY(50vh)} */
    100%{transform:translateY(100vh)}
}
.lines{
    width:10px;
    height:80px;
    background:white;
    position: relative;
    margin-bottom:40px;
    left:calc(50% - 5px);
    
    /* animation: rotor 1s   infinite linear;
    animation-delay: 0s; */
    /* animation: rotor 0.5s  linear  infinite ; */
    /* animation-direction: ; */
    /* animation-name: rotor ;
    animation-duration: 5s;
     */
     /* animation-fill-mode:linear; */
    
}
.car,.enemyCar{
    height:65px;
    width:40px;
    border-radius: 7px;
    background: url(../images/qw.png),red;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    bottom:50px;
    left:calc(50% - 20px);
    z-index: 10;
    /* background-image: url(../images/qw.png); */

}

.screen{
    position: absolute;
    height: 150px;
    width:660px;
    color:white;
    /* display:flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(255, 111, 44);
    z-index:12;
    border:none;
    box-shadow:5px 5px black;
}
.screen h2{
    text-transform: uppercase;

}
.screen:hover{
    cursor: default;
}
.screen h2:hover{
    /* cursor: url("../images/cursor.png"),default; */
    cursor: pointer;
}

/*-----------------utilities-------------------------*/
.hide{
    display:none;
}
.flex{
    display:flex;
    flex-direction: column;
    
    
}
